In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/DataAnalyst.csv')

In [4]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [5]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

In [6]:
df = df.drop(columns='Unnamed: 0')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [7]:
unique = df["Location"].unique()

list1 = unique.tolist()
print(list1)

['New York, NY', 'Fairfield, NJ', 'Jersey City, NJ', 'Brooklyn, NY', 'Weehawken, NJ', 'Long Island City, NY', 'Florham Park, NJ', 'Manhasset, NY', 'Newark, NJ', 'Queens Village, NY', 'Haworth, NJ', 'Fort Lee, NJ', 'South Plainfield, NJ', 'Bronx, NY', 'Little Ferry, NJ', 'Lake Success, NY', 'Summit, NJ', 'Valley Stream, NY', 'Berkeley Heights, NJ', 'Essex Fells, NJ', 'Franklin Lakes, NJ', 'Mount Vernon, NY', 'Secaucus, NJ', 'West Orange, NJ', 'Far Rockaway, NY', 'Woodbridge, NJ', 'Parsippany, NJ', 'Whippany, NJ', 'Great Neck, NY', 'Hoboken, NJ', 'Staten Island, NY', 'Harrison, NY', 'Iselin, NJ', 'Montvale, NJ', 'Woodcliff Lake, NJ', 'Salt Lake City, UT', 'West Jordan, UT', 'Lehi, UT', 'Draper, UT', 'American Fork, UT', 'Sandy, UT', 'Riverton, UT', 'Reedley, CA', 'Visalia, CA', 'Hanford, CA', 'Hampton, VA', 'Norfolk, VA', 'Portsmouth, VA', 'Chesapeake, VA', 'Smithfield, VA', 'Suffolk, VA', 'Newport News, VA', 'Virginia Beach, VA', 'Yorktown, VA', 'Fort Eustis, VA', 'Gainesville, FL', 'Alachua, FL', 'El Segundo, CA', 'Santa Monica, CA', 'Los Angeles, CA', 'Hermosa Beach, CA', 'Gardena, CA', 'Burbank, CA', 'Culver City, CA', 'Glendale, CA', 'Inglewood, CA', 'Venice, CA', 'Pasadena, CA', 'Cerritos, CA', 'Carson, CA', 'Irwindale, CA', 'Anaheim, CA', 'Beverly Hills, CA', 'Long Beach, CA', 'Northridge, CA', 'Alhambra, CA', 'Brea, CA', 'Duarte, CA', 'Woodland Hills, CA', 'Monterey Park, CA', 'Marina del Rey, CA', 'Arcadia, CA', 'Torrance, CA', 'Panorama City, CA', 'Signal Hill, CA', 'Azusa, CA', 'City of Industry, CA', 'Pico Rivera, CA', 'Whittier, CA', 'San Fernando, CA', 'Chicago, IL', 'Downers Grove, IL', 'Broadview, IL', 'Woodridge, IL', 'Burr Ridge, IL', 'Rolling Meadows, IL', 'Deerfield, IL', 'Northlake, IL', 'Northbrook, IL', 'Des Plaines, IL', 'Itasca, IL', 'Evanston, IL', 'Bridgeview, IL', 'Oak Brook, IL', 'Maywood, IL', 'Northfield, IL', 'Glenview, IL', 'Elk Grove Village, IL', 'Arlington Heights, IL', 'Houston, TX', 'Stafford, TX', 'Pearland, TX', 'Sugar Land, TX', 'Pasadena, TX', 'Spring, TX', 'Tempe, AZ', 'Phoenix, AZ', 'Scottsdale, AZ', 'Glendale, AZ', 'Chandler, AZ', 'Mesa, AZ', 'DC Ranch, AZ', 'King of Prussia, PA', 'Plymouth Meeting, PA', 'Blue Bell, PA', 'Fort Washington, PA', 'Philadelphia, PA', 'Wilmington, DE', 'Malvern, PA', 'Horsham, PA', 'Camden, NJ', 'Feasterville Trevose, PA', 'Radnor, PA', 'West Conshohocken, PA', 'Wayne, PA', 'Bensalem, PA', 'Exton, PA', 'Doylestown, PA', 'Allegheny West, PA', 'Paoli, PA', 'Chester Township, PA', 'Conshohocken, PA', 'West Chester, PA', 'Mount Laurel, NJ', 'Ridley Park, PA', 'Berwyn, PA', 'Newtown, PA', 'Newtown Square, PA', 'Boothwyn, PA', 'Norristown, PA', 'West Point, PA', 'Marlton, NJ', 'Moorestown, NJ', 'San Antonio, TX', 'Lackland AFB, TX', 'Fort Sam Houston, TX', 'San Diego, CA', 'National City, CA', 'El Cajon, CA', 'Plano, TX', 'Allen, TX', 'Arlington, TX', 'Dallas, TX', 'Richardson, TX', 'Irving, TX', 'Grapevine, TX', 'Lewisville, TX', 'Addison, TX', 'Tarrant, TX', 'Carrollton, TX', 'Southlake, TX', 'Coppell, TX', 'Farmers Branch, TX', 'Newark, CA', 'Santa Clara, CA', 'Redwood City, CA', 'Cupertino, CA', 'Fremont, CA', 'San Jose, CA', 'Menlo Park, CA', 'Palo Alto, CA', 'Mountain View, CA', 'Sunnyvale, CA', 'Los Gatos, CA', 'Stanford, CA', 'East Palo Alto, CA', 'Pleasanton, CA', 'Union City, CA', 'Milpitas, CA', 'Campbell, CA', 'Austin, TX', 'West Lake Hills, TX', 'Round Rock, TX', 'Cedar Park, TX', 'Jacksonville, FL', 'Fort Worth, TX', 'Roanoke, TX', 'Westlake, TX', 'Columbus, OH', 'Westerville, OH', 'Hilliard, OH', 'Dublin, OH', 'Charlotte, NC', 'Mooresville, NC', 'Huntersville, NC', 'Fort Mill, SC', 'Indian Trail, NC', 'San Francisco, CA', 'San Rafael, CA', 'San Mateo, CA', 'Oakland, CA', 'Berkeley, CA', 'Burlingame, CA', 'Foster City, CA', 'Marin City, CA', 'Daly City, CA', 'South San Francisco, CA', 'San Bruno, CA', 'Emeryville, CA', 'Novato, CA', 'Millbrae, CA', 'San Ramon, CA', 'Hercules, CA', 'Alameda, CA', 'Walnut Creek, CA', 'Carmel, IN', 'Indianapolis, IN', 'Whitestown, IN', 'Jeffersonville, IN', 'Beech Grove, IN', 'Lawrence, IN', 'Redmond, WA', 'Seattle, WA', 'Issaquah, WA', 'Kent, WA', 'Bellevue, WA', 'Renton, WA', 'Kirkland, WA', 'Athens, GA', 'Burlingame, KS', 'Topeka, KS', 'Denver, CO', 'Centennial, CO', 'Boulder, CO', 'Greenwood Village, Arapahoe, CO', 'Henderson, CO', 'Englewood, CO', 'Lakewood, CO', 'Lone Tree, CO', 'Louisville, CO', 'Aurora, CO', 'Broomfield, CO', 'Littleton, CO']

In [8]:
from geopy import geocoders
gn = geocoders.GeoNames(username='angheljf18')
my_dict = {"Latitude":[], "Longitude": []}
# print(gn.geocode("Cleveland, OH").latitude, gn.geocode("Cleveland, OH").longitude)
# my_dict["City"].append(list1)
for i in list1:
#     print(gn.geocode(i).latitude, gn.geocode(i).longitude)
    my_dict["Latitude"].append(gn.geocode(i).latitude)
    my_dict["Longitude"].append(gn.geocode(i).longitude)

In [12]:
for i in list1:
    my_dict["Location"]=list1

In [14]:
my_dict

{'Latitude': [40.71427,
  40.88255,
  40.72816,
  40.6501,
  40.76955,
  40.81677,
  40.78788,
  40.79788,
  40.77331,
  40.72677,
  40.96093,
  40.85093,
  40.57927,
  40.84985,
  40.85288,
  40.76372,
  40.71562,
  40.66427,
  40.68343,
  40.82454,
  41.01676,
  40.9126,
  40.78955,
  40.79871,
  40.60538,
  40.5576,
  40.85788,
  40.82454,
  40.80066,
  40.74399,
  40.56233,
  40.74649,
  40.57538,
  41.04676,
  41.02343,
  40.76078,
  40.60967,
  40.39162,
  40.52467,
  40.3769,
  40.59161,
  40.52189,
  36.59634,
  36.33023,
  36.32745,
  37.02987,
  36.84681,
  36.83543,
  36.81904,
  36.98237,
  36.72836,
  37.08339,
  36.85293,
  37.23876,
  37.15204,
  29.65163,
  29.65163,
  33.91918,
  34.01949,
  34.05223,
  33.86224,
  33.88835,
  34.18084,
  34.02112,
  34.14251,
  33.96168,
  33.99084,
  34.14778,
  33.85835,
  33.83141,
  34.10695,
  34.11176,
  34.07362,
  34.11176,
  34.22834,
  34.09529,
  33.91668,
  34.13945,
  34.16834,
  34.06251,
  33.98029,
  34.13973,
  33.83585,
  34.22473,
  47.2624,
  34.13362,
  34.01973,
  33.98307,
  33.97918,
  36.4759,
  41.85003,
  41.80892,
  41.86392,
  41.74697,
  41.74892,
  42.08419,
  42.17114,
  41.91725,
  42.12753,
  42.03336,
  41.97503,
  42.04114,
  41.75003,
  41.83281,
  41.8792,
  42.12753,
  42.06975,
  42.00392,
  42.08836,
  29.76328,
  29.61607,
  29.56357,
  29.75001,
  29.69106,
  30.07994,
  33.41477,
  33.44838,
  33.50921,
  33.53865,
  33.18587,
  33.42227,
  33.66754,
  40.08927,
  40.10233,
  40.15233,
  40.14178,
  39.95233,
  39.74595,
  40.03622,
  40.17844,
  39.92595,
  40.15242,
  40.04622,
  40.06983,
  42.25754,
  40.10455,
  40.029,
  40.31011,
  40.35479,
  40.04205,
  40.09705,
  40.07928,
  39.96097,
  39.934,
  39.88122,
  40.04483,
  40.22928,
  39.98678,
  39.83011,
  40.1215,
  -40.78333,
  39.89122,
  39.96706,
  29.42412,
  29.38003,
  32.74096,
  32.71571,
  32.67811,
  32.79477,
  33.01984,
  33.10317,
  32.73569,
  32.78306,
  32.94818,
  32.81402,
  32.93429,
  33.04623,
  32.96179,
  32.73569,
  32.95373,
  32.94124,
  32.95457,
  32.92651,
  37.52966,
  37.35411,
  37.48522,
  37.323,
  37.54827,
  37.33939,
  37.45383,
  37.44188,
  37.38605,
  36.91031,
  37.22661,
  37.42716,
  37.46883,
  37.66243,
  37.59577,
  37.42827,
  37.28717,
  30.26715,
  30.29798,
  30.26225,
  30.5052,
  30.33218,
  32.72541,
  33.00401,
  32.99124,
  39.96118,
  40.12617,
  40.0334,
  40.09923,
  35.22709,
  35.58486,
  35.41069,
  35.00737,
  35.07681,
  37.77493,
  37.97353,
  37.56299,
  37.80437,
  37.87159,
  37.5841,
  37.55855,
  37.86854,
  37.70577,
  37.65466,
  45.53341,
  37.83132,
  38.10742,
  37.59855,
  37.77993,
  38.01714,
  37.77099,
  37.90631,
  39.74743,
  39.76838,
  39.99726,
  38.27757,
  39.72199,
  38.84116,
  47.67399,
  47.60621,
  47.5301,
  47.38093,
  47.55747,
  47.48288,
  47.68149,
  33.96095,
  38.75389,
  39.04833,
  39.73915,
  39.57916,
  40.01499,
  39.61721,
  39.92054,
  39.64777,
  39.43373,
  39.55171,
  39.97776,
  39.72943,
  39.92054,
  39.61332],
 'Longitude': [-74.00597,
  -74.30402,
  -74.07764,
  -73.94958,
  -74.02042,
  -73.06622,
  -74.38821,
  -73.69957,
  -73.87989,
  -73.74152,
  -73.99014,
  -73.97014,
  -74.41154,
  -73.86641,
  -74.04208,
  -73.70854,
  -74.36468,
  -73.70846,
  -74.44265,
  -74.28459,
  -74.2057,
  -73.83708,
  -74.05653,
  -74.23904,
  -73.75513,
  -74.28459,
  -74.42599,
  -74.4171,
  -73.72846,
  -74.03236,
  -74.13986,
  -74.15626,
  -74.32237,
  -74.02292,
  -74.06653,
  -111.89105,
  -111.9391,
  -111.85077,
  -111.86382,
  -111.79576,
  -111.8841,
  -111.9391,
  -119.4504,
  -119.29206,
  -119.64568,
  -76.34522,
  -76.28522,
  -76.29827,
  -76.27494,
  -76.63107,
  -76.58496,
  -76.46965,
  -75.97799,
  -76.50967,
  -76.5781,
  -82.32483,
  -82.32483,
  -118.41647,
  -118.49138,
  -118.24368,
  -118.39952,
  -118.30896,
  -118.30897,
  -118.39647,
  -118.25508,
  -118.35313,
  -118.46008,
  -118.14452,
  -118.06479,
  -118.28202,
  -117.93534,
  -118.18076,
  -118.40036,
  -118.18076,
  -118.53675,
  -118.12701,
  -117.90006,
  -117.97729,
  -118.60592,
  -118.12285,
  -118.45174,
  -118.03534,
  -118.34063,
  -118.44981,
  -53.98143,
  -117.90756,
  -117.95868,
  -118.09673,
  -118.03284,
  -6.19817,
  -87.65005,
  -88.01117,
  -87.85339,
  -88.05034,
  -87.91839,
  -88.01313,
  -87.84451,
  -87.89562,
  -87.82895,
  -87.8834,
  -88.00729,
  -87.69006,
  -87.80422,
  -87.92895,
  -87.84312,
  -87.82895,
  -87.78784,
  -87.97035,
  -87.98063,
  -95.36327,
  -95.55772,
  -95.28605,
  -95.35404,
  -95.2091,
  -95.41716,
  -111.90931,
  -112.07404,
  -111.89903,
  -112.18599,
  -112.0707,
  -111.82264,
  -111.86542,
  -75.39602,
  -75.27435,
  -75.26629,
  -75.20906,
  -75.16379,
  -75.54659,
  -75.51381,
  -75.12851,
  -75.11962,
  -74.98655,
  -75.35991,
  -75.3163,
  -83.21104,
  -74.95128,
  -75.62077,
  -75.12989,
  -79.92977,
  -75.47631,
  -75.46964,
  -75.30157,
  -75.60804,
  -74.891,
  -75.3238,
  -75.43881,
  -74.93683,
  -75.40103,
  -75.44158,
  -75.3399,
  172.21667,
  -74.92183,
  -74.94267,
  -98.49363,
  -98.58649,
  -96.95528,
  -117.16472,
  -117.0992,
  -116.96253,
  -96.69889,
  -96.67055,
  -97.10807,
  -96.80667,
  -96.72972,
  -96.94889,
  -97.07807,
  -96.99417,
  -96.82917,
  -97.10807,
  -96.89028,
  -97.13418,
  -97.01501,
  -96.89612,
  -122.04024,
  -121.95524,
  -122.23635,
  -122.03218,
  -121.98857,
  -121.89496,
  -122.18219,
  -122.14302,
  -122.08385,
  -121.37693,
  -121.97468,
  -122.17024,
  -122.14108,
  -121.87468,
  -122.01913,
  -121.90662,
  -121.94996,
  -97.74306,
  -97.80195,
  -97.65435,
  -97.82029,
  -81.65565,
  -97.32085,
  -97.22585,
  -97.19501,
  -82.99879,
  -82.92907,
  -83.15825,
  -83.11408,
  -80.84313,
  -80.81007,
  -80.84285,
  -80.94508,
  -80.66924,
  -122.41942,
  -122.53109,
  -122.32553,
  -122.2708,
  -122.27275,
  -122.36608,
  -122.27108,
  -122.50914,
  -122.46192,
  -122.40775,
  -73.34916,
  -122.28525,
  -122.5697,
  -122.38719,
  -121.97802,
  -122.28858,
  -122.26087,
  -122.06496,
  -86.20614,
  -86.15804,
  -86.34583,
  -85.73718,
  -86.08998,
  -86.48345,
  -122.12151,
  -122.33207,
  -122.03262,
  -122.23484,
  -121.88143,
  -122.21707,
  -122.20874,
  -83.37794,
  -95.83499,
  -95.67804,
  -104.9847,
  -104.87692,
  -105.27055,
  -104.95081,
  -104.86581,
  -104.98776,
  -104.89439,
  -104.8863,
  -105.13193,
  -104.83192,
  -105.08665,
  -105.01665],
 'Location': ['New York, NY',
  'Fairfield, NJ',
  'Jersey City, NJ',
  'Brooklyn, NY',
  'Weehawken, NJ',
  'Long Island City, NY',
  'Florham Park, NJ',
  'Manhasset, NY',
  'Newark, NJ',
  'Queens Village, NY',
  'Haworth, NJ',
  'Fort Lee, NJ',
  'South Plainfield, NJ',
  'Bronx, NY',
  'Little Ferry, NJ',
  'Lake Success, NY',
  'Summit, NJ',
  'Valley Stream, NY',
  'Berkeley Heights, NJ',
  'Essex Fells, NJ',
  'Franklin Lakes, NJ',
  'Mount Vernon, NY',
  'Secaucus, NJ',
  'West Orange, NJ',
  'Far Rockaway, NY',
  'Woodbridge, NJ',
  'Parsippany, NJ',
  'Whippany, NJ',
  'Great Neck, NY',
  'Hoboken, NJ',
  'Staten Island, NY',
  'Harrison, NY',
  'Iselin, NJ',
  'Montvale, NJ',
  'Woodcliff Lake, NJ',
  'Salt Lake City, UT',
  'West Jordan, UT',
  'Lehi, UT',
  'Draper, UT',
  'American Fork, UT',
  'Sandy, UT',
  'Riverton, UT',
  'Reedley, CA',
  'Visalia, CA',
  'Hanford, CA',
  'Hampton, VA',
  'Norfolk, VA',
  'Portsmouth, VA',
  'Chesapeake, VA',
  'Smithfield, VA',
  'Suffolk, VA',
  'Newport News, VA',
  'Virginia Beach, VA',
  'Yorktown, VA',
  'Fort Eustis, VA',
  'Gainesville, FL',
  'Alachua, FL',
  'El Segundo, CA',
  'Santa Monica, CA',
  'Los Angeles, CA',
  'Hermosa Beach, CA',
  'Gardena, CA',
  'Burbank, CA',
  'Culver City, CA',
  'Glendale, CA',
  'Inglewood, CA',
  'Venice, CA',
  'Pasadena, CA',
  'Cerritos, CA',
  'Carson, CA',
  'Irwindale, CA',
  'Anaheim, CA',
  'Beverly Hills, CA',
  'Long Beach, CA',
  'Northridge, CA',
  'Alhambra, CA',
  'Brea, CA',
  'Duarte, CA',
  'Woodland Hills, CA',
  'Monterey Park, CA',
  'Marina del Rey, CA',
  'Arcadia, CA',
  'Torrance, CA',
  'Panorama City, CA',
  'Signal Hill, CA',
  'Azusa, CA',
  'City of Industry, CA',
  'Pico Rivera, CA',
  'Whittier, CA',
  'San Fernando, CA',
  'Chicago, IL',
  'Downers Grove, IL',
  'Broadview, IL',
  'Woodridge, IL',
  'Burr Ridge, IL',
  'Rolling Meadows, IL',
  'Deerfield, IL',
  'Northlake, IL',
  'Northbrook, IL',
  'Des Plaines, IL',
  'Itasca, IL',
  'Evanston, IL',
  'Bridgeview, IL',
  'Oak Brook, IL',
  'Maywood, IL',
  'Northfield, IL',
  'Glenview, IL',
  'Elk Grove Village, IL',
  'Arlington Heights, IL',
  'Houston, TX',
  'Stafford, TX',
  'Pearland, TX',
  'Sugar Land, TX',
  'Pasadena, TX',
  'Spring, TX',
  'Tempe, AZ',
  'Phoenix, AZ',
  'Scottsdale, AZ',
  'Glendale, AZ',
  'Chandler, AZ',
  'Mesa, AZ',
  'DC Ranch, AZ',
  'King of Prussia, PA',
  'Plymouth Meeting, PA',
  'Blue Bell, PA',
  'Fort Washington, PA',
  'Philadelphia, PA',
  'Wilmington, DE',
  'Malvern, PA',
  'Horsham, PA',
  'Camden, NJ',
  'Feasterville Trevose, PA',
  'Radnor, PA',
  'West Conshohocken, PA',
  'Wayne, PA',
  'Bensalem, PA',
  'Exton, PA',
  'Doylestown, PA',
  'Allegheny West, PA',
  'Paoli, PA',
  'Chester Township, PA',
  'Conshohocken, PA',
  'West Chester, PA',
  'Mount Laurel, NJ',
  'Ridley Park, PA',
  'Berwyn, PA',
  'Newtown, PA',
  'Newtown Square, PA',
  'Boothwyn, PA',
  'Norristown, PA',
  'West Point, PA',
  'Marlton, NJ',
  'Moorestown, NJ',
  'San Antonio, TX',
  'Lackland AFB, TX',
  'Fort Sam Houston, TX',
  'San Diego, CA',
  'National City, CA',
  'El Cajon, CA',
  'Plano, TX',
  'Allen, TX',
  'Arlington, TX',
  'Dallas, TX',
  'Richardson, TX',
  'Irving, TX',
  'Grapevine, TX',
  'Lewisville, TX',
  'Addison, TX',
  'Tarrant, TX',
  'Carrollton, TX',
  'Southlake, TX',
  'Coppell, TX',
  'Farmers Branch, TX',
  'Newark, CA',
  'Santa Clara, CA',
  'Redwood City, CA',
  'Cupertino, CA',
  'Fremont, CA',
  'San Jose, CA',
  'Menlo Park, CA',
  'Palo Alto, CA',
  'Mountain View, CA',
  'Sunnyvale, CA',
  'Los Gatos, CA',
  'Stanford, CA',
  'East Palo Alto, CA',
  'Pleasanton, CA',
  'Union City, CA',
  'Milpitas, CA',
  'Campbell, CA',
  'Austin, TX',
  'West Lake Hills, TX',
  'Round Rock, TX',
  'Cedar Park, TX',
  'Jacksonville, FL',
  'Fort Worth, TX',
  'Roanoke, TX',
  'Westlake, TX',
  'Columbus, OH',
  'Westerville, OH',
  'Hilliard, OH',
  'Dublin, OH',
  'Charlotte, NC',
  'Mooresville, NC',
  'Huntersville, NC',
  'Fort Mill, SC',
  'Indian Trail, NC',
  'San Francisco, CA',
  'San Rafael, CA',
  'San Mateo, CA',
  'Oakland, CA',
  'Berkeley, CA',
  'Burlingame, CA',
  'Foster City, CA',
  'Marin City, CA',
  'Daly City, CA',
  'South San Francisco, CA',
  'San Bruno, CA',
  'Emeryville, CA',
  'Novato, CA',
  'Millbrae, CA',
  'San Ramon, CA',
  'Hercules, CA',
  'Alameda, CA',
  'Walnut Creek, CA',
  'Carmel, IN',
  'Indianapolis, IN',
  'Whitestown, IN',
  'Jeffersonville, IN',
  'Beech Grove, IN',
  'Lawrence, IN',
  'Redmond, WA',
  'Seattle, WA',
  'Issaquah, WA',
  'Kent, WA',
  'Bellevue, WA',
  'Renton, WA',
  'Kirkland, WA',
  'Athens, GA',
  'Burlingame, KS',
  'Topeka, KS',
  'Denver, CO',
  'Centennial, CO',
  'Boulder, CO',
  'Greenwood Village, Arapahoe, CO',
  'Henderson, CO',
  'Englewood, CO',
  'Lakewood, CO',
  'Lone Tree, CO',
  'Louisville, CO',
  'Aurora, CO',
  'Broomfield, CO',
  'Littleton, CO']}

In [15]:
lat_df = pd.DataFrame.from_dict(my_dict)
lat_df.head()

   Latitude  Longitude         Location
0  40.71427  -74.00597     New York, NY
1  40.88255  -74.30402    Fairfield, NJ
2  40.72816  -74.07764  Jersey City, NJ
3  40.65010  -73.94958     Brooklyn, NY
4  40.76955  -74.02042    Weehawken, NJ

In [16]:
new_df = pd.merge(df, lat_df, how='left', on='Location')
new_df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Latitude,Longitude
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,40.71427,-74.00597
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,40.71427,-74.00597
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,40.71427,-74.00597
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,40.71427,-74.00597
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,40.71427,-74.00597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,39.73915,-104.98470
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,39.57916,-104.87692
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,39.73915,-104.98470
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,39.57916,-104.87692
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,39.92054,-105.08665

In [29]:
new_df['Salary Estimate'].value_counts()

$42K-$76K (Glassdoor est.)    57
$41K-$78K (Glassdoor est.)    57
$50K-$86K (Glassdoor est.)    41
$35K-$67K (Glassdoor est.)    33
$43K-$76K (Glassdoor est.)    31
                              ..
$36K-$67K (Glassdoor est.)     3
$47K-$81K (Glassdoor est.)     3
$43K-$77K (Glassdoor est.)     3
$57K-$70K (Glassdoor est.)     2
-1                             1
Name: Salary Estimate, Length: 90, dtype: int64

In [30]:
new_df = new_df.loc[new_df['Salary Estimate'] != '-1']
new_df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Latitude,Longitude
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,40.71427,-74.00597
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,40.71427,-74.00597
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,40.71427,-74.00597
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,40.71427,-74.00597
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,40.71427,-74.00597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,39.73915,-104.98470
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,39.57916,-104.87692
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,39.73915,-104.98470
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,39.57916,-104.87692
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,39.92054,-105.08665

In [34]:
new_df['Salary Estimate'].unique()

array(['$37K-$66K (Glassdoor est.)', '$46K-$87K (Glassdoor est.)',
       '$51K-$88K (Glassdoor est.)', '$51K-$87K (Glassdoor est.)',
       '$59K-$85K (Glassdoor est.)', '$43K-$76K (Glassdoor est.)',
       '$60K-$110K (Glassdoor est.)', '$41K-$78K (Glassdoor est.)',
       '$45K-$88K (Glassdoor est.)', '$73K-$127K (Glassdoor est.)',
       '$84K-$90K (Glassdoor est.)', '$27K-$52K (Glassdoor est.)',
       '$42K-$74K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)',
       '$98K-$114K (Glassdoor est.)', '$48K-$96K (Glassdoor est.)',
       '$26K-$47K (Glassdoor est.)', '$31K-$59K (Glassdoor est.)',
       '$47K-$81K (Glassdoor est.)', '$43K-$69K (Glassdoor est.)',
       '$49K-$112K (Glassdoor est.)', '$30K-$54K (Glassdoor est.)',
       '$55K-$103K (Glassdoor est.)', '$37K-$70K (Glassdoor est.)',
       '$57K-$103K (Glassdoor est.)', '$35K-$45K (Glassdoor est.)',
       '$42K-$66K (Glassdoor est.)', '$65K-$81K (Glassdoor est.)',
       '$113K-$132K (Glassdoor est.)', '$42K-$63K (Glassdoor est.)',
       '$60K-$66K (Glassdoor est.)', '$73K-$82K (Glassdoor est.)',
       '$67K-$92K (Glassdoor est.)', '$42K-$76K (Glassdoor est.)',
       '$97K-$129K (Glassdoor est.)', '$68K-$87K (Glassdoor est.)',
       '$29K-$38K (Glassdoor est.)', '$47K-$76K (Glassdoor est.)',
       '$74K-$123K (Glassdoor est.)', '$53K-$94K (Glassdoor est.)',
       '$46K-$102K (Glassdoor est.)', '$43K-$94K (Glassdoor est.)',
       '$45K-$78K (Glassdoor est.)', '$38K-$68K (Glassdoor est.)',
       '$37K-$44K (Glassdoor est.)', '$64K-$113K (Glassdoor est.)',
       '$50K-$93K (Glassdoor est.)', '$37K-$68K (Glassdoor est.)',
       '$73K-$89K (Glassdoor est.)', '$76K-$122K (Glassdoor est.)',
       '$60K-$124K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)',
       '$24K-$48K (Glassdoor est.)', '$30K-$53K (Glassdoor est.)',
       '$41K-$86K (Glassdoor est.)', '$44K-$82K (Glassdoor est.)',
       '$48K-$88K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)',
       '$110K-$190K (Glassdoor est.)', '$89K-$151K (Glassdoor est.)',
       '$69K-$127K (Glassdoor est.)', '$51K-$93K (Glassdoor est.)',
       '$58K-$93K (Glassdoor est.)', '$63K-$116K (Glassdoor est.)',
       '$53K-$104K (Glassdoor est.)', '$35K-$42K (Glassdoor est.)',
       '$43K-$77K (Glassdoor est.)', '$40K-$72K (Glassdoor est.)',
       '$50K-$86K (Glassdoor est.)', '$35K-$67K (Glassdoor est.)',
       '$57K-$70K (Glassdoor est.)', '$28K-$52K (Glassdoor est.)',
       '$46K-$86K (Glassdoor est.)', '$54K-$75K (Glassdoor est.)',
       '$53K-$99K (Glassdoor est.)', '$40K-$74K (Glassdoor est.)',
       '$57K-$104K (Glassdoor est.)', '$99K-$178K (Glassdoor est.)',
       '$93K-$159K (Glassdoor est.)', '$82K-$116K (Glassdoor est.)',
       '$65K-$120K (Glassdoor est.)', '$47K-$74K (Glassdoor est.)',
       '$55K-$101K (Glassdoor est.)', '$32K-$56K (Glassdoor est.)',
       '$36K-$67K (Glassdoor est.)', '$57K-$67K (Glassdoor est.)',
       '$49K-$91K (Glassdoor est.)', '$57K-$100K (Glassdoor est.)',
       '$78K-$104K (Glassdoor est.)'], dtype=object)

In [35]:
new_df['Min'] = new_df['Salary Estimate'].str.split('−', expand=True)[0]

C:\Users\JORMIL\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
new_df['Max'] = new_df['Salary Estimate'].str.split('−', expand=True)[1]

KeyError: 1

In [40]:
new_df.astype({'Salary Estimate': 'string'}).dtypes

Job Title             object
Salary Estimate       string
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
Easy Apply            object
Latitude             float64
Longitude            float64
Min                   object
dtype: object

In [41]:
new_df['Min'] = new_df['Salary Estimate'].str.split('', expand=True)[0]

C:\Users\JORMIL\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
new_df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Latitude,Longitude,Min
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,40.71427,-74.00597,$37K-$66K (Glassdoor est.)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,40.71427,-74.00597,$37K-$66K (Glassdoor est.)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,40.71427,-74.00597,$37K-$66K (Glassdoor est.)
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,40.71427,-74.00597,$37K-$66K (Glassdoor est.)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,40.71427,-74.00597,$37K-$66K (Glassdoor est.)